head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title タイトルが入ります
  meta(name="description" content="ディスクリプションが入ります。")
  link(rel="icon" href="assets/images/common/favicon.ico")
