// ==========================================================================
// Colors
// ==========================================================================

$color-font: #202020;
$color-blue: #36EEED;
$color-pink: #F731D7;

// ==========================================================================
// Sizes
// ==========================================================================

$size-pc-design: 1280px;
$size-sp-design: 375px;
$size-lg: 1280px;
$size-md: 767px;
$size-sm: 375px;
$size-container: 1100px;
$size-padding: 0 20px;
$size-line-height: 1.7;

// ==========================================================================
// Typography
// ==========================================================================

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$font-ja: 'Noto Sans JP', sans-serif;
