.u-lh {
    &1d1 {line-height: 1.1;}
    &1d2 {line-height: 1.2;}
    &1d3 {line-height: 1.3;}
    &1d4 {line-height: 1.4;}
    &1d5 {line-height: 1.5;}
    &1d6 {line-height: 1.6;}
    &1d7 {line-height: 1.7;}
    &1d8 {line-height: 1.8;}
    &1d9 {line-height: 1.9;}
    &2 {line-height: 2.0;}
    &2d1 {line-height: 2.1;}
    &2d2 {line-height: 2.2;}
    &2d3 {line-height: 2.3;}
    &2d4 {line-height: 2.4;}
    &2d5 {line-height: 2.5;}
    &2d6 {line-height: 2.6;}
    &2d7 {line-height: 2.7;}
    &2d8 {line-height: 2.8;}
    &2d9 {line-height: 2.9;}
    &3 {line-height: 3.0;}
}
